<div>
  <ul class="category-icons">
    <li><i class="fa-solid fa-cable-car"></i></li>
    <li><i class="fa-solid fa-face-smile"></i></li>
    <li><i class="fa-solid fa-otter"></i></li>
    <li><i class="fa-solid fa-heart"></i></li>
    <li><i class="fa-solid fa-car-side"></i></li>
    <li><i class="fa-solid fa-shield-dog"></i></li>
  </ul>
</div>
