<div>
  <ul class="category-icons">
    <li><i class="fa-regular fa-star"></i></li>
    <li><i class="fa-regular fa-face-smile"></i></li>
    <li><i class="fa-regular fa-heart"></i></li>
    <li><i class="fa-solid fa-shield-dog"></i></li>
  </ul>
</div>

