.card-pet {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 350px;
  border-radius: 10px;
}

.card-pet > img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.card-pet h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pet p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-pet .card-pet-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
}

// .card-pet-infos .card-pet-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

// Own selectors

.cards-pet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding: 24px;
}

.card-pet:hover {
  background-color: lightblue;
  box-shadow: 0 0 8px #0f141a;
  transform: scale(1.1);
}

.card-link {
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
