.navbar-lewagon {
  justify-content: space-between;
  background: lightblue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  margin-left: 40px;
}

.custom-search-input {
  width: 400px;
}

.custom-search {
  width: 400px;
  margin-left: 120px;
}

.nav-link {
  font-size: 16px;
}

body, html {
  margin: 0;
  padding: 0;
}
